<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moj prvi chat</title>
</head>
<body>

    <form method="post" action="/poslji-sporocilo">
        <p>
            Ime:
            <input name="ime">
        </p>
        <p>
            Email:
            <input name="email">
        </p>
        <p>
            Sporočilo:
            <input name="sporocilo">
        </p>
        <p>
            <button type="submit">Objavi</button>
        </p>
    </form>

    <a href="/prikazi-sporocila">Prikaži vsa sporočila</a>

</body>
</html>